[Desktop Entry]
Encoding=UTF-8
Name=Ekrone
Comment=Ekrone
Exec=Ekrone
Terminal=false
Type=Application
Icon=ekrone
MimeType=x-scheme-handler/ekrone;
Categories=Office;Finance;
Name[en_US]=ekrone.desktop
